<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p class="large">
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<p>
  <strong>Status:</strong>
  <%= @article.status %>
</p>

<p>
  <strong>Slung:</strong>
  <%= @article.slung %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @article.picture %>
</p>

<%= link_to 'Edit', edit_admin_article_path(@article) %> |
<%= link_to 'Back', admin_articles_path %>
